<!-- List of devices -->
<div>
    <!-- <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a> -->
    <div class="pull-right">
        <a ui-sref="overview" class=" btn btn-primary btn-outline btn-rounded">Overview</a>
    </div>

    <h2>Devices</h2>
    <div class="row">
        <div class="center-block" ng-if="allDevices == null"><h1>Loading...</h1></div>
        <div class="col-sm-6 col-md-4" data-ng-repeat="(key, device) in allDevices">
            <div class="thumbnail" >
                <img src="" alt="">
                <div class="caption">
                    <h3>{{device.name}}</h3>
                    <h5>{{device.appliance}}</h5>
                    <p>
                        <a ui-sref="reports" ng-click="viewDevice(device.id, device)" class="btn btn-primary" role="button">View</a>
                        <a href="#" class="btn btn-default" role="button"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
