<!-- List of devices -->
<div>
    <!-- <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a> -->
    <div class="pull-right">
        <a ui-sref="overview" class=" btn btn-primary btn-outline btn-rounded">Overview</a>
    </div>

    <h2>Monitored Areas</h2>
    <div class="row">
        <div class="col-sm-4 col-md-2" data-ng-repeat="(key, device) in allDevices">
            <div class="thumbnail" >
                <img src="" alt="">
                <div class="caption">
                    <h3 class="text-primary">{{device.appliance}}</h3>
                    <h5>{{device.name}}</h5>
                    <p>
                        <a ui-sref="reports" ng-click="viewDevice(device.id, device)" class="btn btn-primary" role="button">View</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="thumbnail" >
                <img src="" alt="">
                <div class="caption">
                    <h3 class="text-primary">Add Device</h3>
                    <h5>Click new</h5>
                    <p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New</button>
                    </p>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                <form novalidate class="simple-form" name="addForm">
                                    <p>Name:
                                        <input name="name" ng-model="device.name"  required>
                                        <div ng-show="addForm.$submitted || addForm.name.$touched">
                                            <div style="color:red;" ng-show="addForm.name.$error.required">Name is required.</div>
                                        </div>
                                    </p>
                                    <p>Appliance:
                                        <input name="appliancce" ng-model="device.appliance"  required>
                                        <div ng-show="addForm.$submitted || addForm.appliancce.$touched">
                                            <div style="color:red;" ng-show="addForm.appliancce.$error.required">Appliance is required.</div>
                                        </div>
                                    </p>
                                    <p>ID:
                                        <input name="id" ng-model="device.id" required>
                                        <div ng-show="addForm.$submitted || addForm.id.$touched">
                                            <div style="color:red;" ng-show="addForm.id.$error.required">ID is required.</div>
                                        </div>
                                    </p>
                                    <p>Threshold:
                                        <input name="threshold" ng-model="device.threshold" required>
                                        <div ng-show="addForm.$submitted || addForm.threshold.$touched">
                                            <div style="color:red;" ng-show="addForm.threshold.$error.required">Threshold is required.</div>
                                        </div>
                                    </p>
                                    <input type="submit" ng-click="addDevice(device)" value="Save" />
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
