<!-- List of devices -->
<div>
    <!-- <a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a> -->
    <div class="pull-right">
        <a ui-sref="overview" class=" btn btn-primary btn-outline btn-rounded">Overview</a>
    </div>

    <h2>Monitored Areas</h2>
    <div class="row">
        <div class="col-sm-4 col-md-2" data-ng-repeat="(key, device) in allDevices">
            <div class="thumbnail" >
                <img src="" alt="">
                <div class="caption">
                    <h3 class="text-primary">{{device.appliance}}</h3>
                    <h5>{{device.name}}</h5>

                    <p>
                        <a ui-sref="reports" ng-click="viewDevice(device.id, device)" class="btn btn-primary" role="button">View</a>
                        <button ng-click="viewDeviceInfo(device.id)" type="button" class="btn btn-default" data-toggle="modal" data-target="#particleDeviceDetails">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="particleDeviceDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{deviceAttr.name}}</h4>
                </div>
                <div id="deviceInfoContainer" class="modal-body">
                    <p><strong class="text-primary">Last IP:</strong> {{deviceAttr.last_ip_address}}</p>
                    <p><strong class="text-primary">Cellular Capable:</strong> {{deviceAttr.cellular}}</p>
                    <p><strong class="text-primary">Connected:</strong> {{deviceAttr.connected}}</p>
                    <p><strong class="text-primary">Status:</strong> {{deviceAttr.status}}</p>
                    <p><strong class="text-primary">Last Ping:</strong> {{deviceAttr.date}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
