<!-- Summary of all data and devices -->
<div>
    <h2><i class="material-icons">home</i>   Overview</h2>
    <h4>This is a statistical overview of all of your devices.</h4>

    <div class="row thumbnail">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a role="tab" aria-controls="overview" data-toggle="tab" data-target="#overview">Overview</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="kwhView" data-target="#kwhView">Kilowatt Hours Overview</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="currentView" data-target="#currentView">Current Overview</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="settingsView" data-target="#settingsView">Settings</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" id="overview" class="tab-pane active">
            <div class="row">
                <div class="col-sm-15 col-md-16">
                    <highchart style="margin-right: 1%;" class="panel panel-default" id="piChart1" config="overviewCurrentPIConfig"></highchart>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-15 col-md-16">
                    <highchart style="margin-right: 1%;" class="panel panel-default" id="piChart2" config="overviewPowerPIConfig"></highchart>
                </div>
            </div>
        </div>

        <div id="kwhView" role="tabpanel" class="tab-pane">

        </div>

        <div id="currentView" role="tabpanel" class="tab-pane">

        </div>


        <div id="settingsView" class="tab-pane" role="tabpanel">
            <div class="row">
                <div class="col-sm-2 col-md-4 thumbnail">
                        <button style="margin-right: 1%;" ng-click="toggleDevice()" type="button" class="btn btn-primary">Toggle</button>
                </div>
            </div>
        </div>
    </div>


    <!--div class="row">
        <div class="col-sm-15 col-md-12">
            <highchart style="margin-bottom: 1%; margin-right: 1%;" class="col-sm-7 col-md-5 panel panel-default" id="overviewCurrentChart" config="overviewCurrentConfig"></highchart>
            <highchart style="margin-bottom: 1%;" class="col-sm-7 col-md-5 panel panel-default" id="overviewPowerChart" config="overviewPowerConfig"></highchart>
        </div>
    </div-->
</div>
