<!-- Profile Page, user can change profile settings, email, password, 2-factor, add/remove/modify devices etc -->
<div >
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Overview</a>
    <h2>Profile Settings</h2>

    <div class="row col-md-4 thumbnail" style="padding: 2%; margin: 1%;">
        <h4>Account Settings</h4>
        <hr />
        <form>
            <div class="form-group">
                <label for="changeEmailAddress">Change Email address: </label>
                <input ng-model="changeEmail" type="email" class="form-control" id="changeEmailAddress">
                <br/>
                <button type="submit" class="btn btn-primary">Change Email</button>
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="oldPassword">Old Password: </label>
                <input ng-model="oldPassChange" type="password" class="form-control" id="oldPassword">
                <br/>
                <label for="newPassword">New Password: </label>
                <input ng-model="newPassChange" type="password" class="form-control" id="newPassword">
                <br/>
                <label for="newPasswordRepeat">Repeat New Password: </label>
                <input ng-model="newPassRepeatChange" type="password" class="form-control" id="newPasswordRepeat">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>

    <div class="row col-md-4 thumbnail" style="padding: 2%; margin: 1%;">
        <h4>Particle.io Settings</h4>
        <hr />
        <form>
            <div class="form-group">
                <label for="particleEmail">Particle.io Email</label>
                <input autocomplete="off" ng-model="particleEmail" type="email" class="form-control" id="particleEmail">
                <br/>
                <label for="particlePass">Particle.io Password: </label>
                <input autocomplete="off" ng-model="particlePass" type="password" class="form-control" id="particlePass">
            </div>
            <button ng-click="loginParticle()" type="submit" class="btn btn-primary" id="particleSumbit">Login to Particle</button>
        </form> <br/>
        <div ng-show="particleLoginSuccess" class="alert alert-success" role="alert">Login Success.</div>
        <div ng-show="particleLoginFailure" class="alert alert-danger" role="alert">Login Failure. {{particleError}}</div>
    </div>

    <div class="row col-md-4 thumbnail" style="padding: 2%; margin: 1%;">
        <h4>Firebase Settings</h4>
        <hr />
        <form>
            <div class="form-group">
                <label for="firebaseURL">Realtime Database URL</label>
                <input autocomplete="off" ng-model="particleEmail" type="text" class="form-control" id="firebaseURL">
            </div>
            <button ng-click="loginParticle()" type="submit" class="btn btn-primary" id="firebaseURLSubmit">Set URL</button>
        </form>
    </div>
</div>
