<!-- Serves reports, controlled by dashboard.js -->
<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Overview</a>
    <h2>{{selectedDevice.appliance}}</h2>
    <h4>Connected to the {{selectedDevice.name}}</h4>

    <div class="row thumbnail" >
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a role="tab" aria-controls="overview" data-toggle="tab" data-target="#overview">Overview</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="kwhView" data-target="#kwhView">Kilowatt Hours</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="currentView" data-target="#currentView">Current Usage</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="realtimeView" data-target="#realtimeView">Realtime Data</a></li>
            <li role="presentation"><a role="tab" data-toggle="tab" aria-controls="settingsView" data-target="#settingsView">Settings</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div role="tabpanel" id="overview" class="tab-pane active">
            <div class="row">
                <div class="col-sm-15 col-md-16">
                    <div class="col-sm-15 col-md-5 panel panel-default">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Current (A)</th>
                                    <th>Power (KWh)</th>
                                    <th>Cost (R)</th>
                                    <th>CO2 Emissions (Kg)</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Max</td>
                                <td>{{maxCurrent}}</td>
                                <td>{{maxPower}}</td>
                                <td>{{maxCost}}</td>
                                <td>{{maxEmission}}</td>
                            </tr>
                            <tr>
                                <td>Min</td>
                                <td>{{minCurrent}}</td>
                                <td>{{minPower}}</td>
                                <td>{{minCost}}</td>
                                <td>{{minEmission}}</td>
                            </tr>
                            <tr>
                                <td>Average</td>
                                <td>{{avgCurrent}}</td>
                                <td>{{avgPower}}</td>
                                <td>{{avgCost}}</td>
                                <td>{{avgEmission}}</td>
                            </tr>
                            <tr>
                                <td><h5>Total</h5></td>
                                <td>{{totalCurrent}}</td>
                                <td>{{totalPower}}</td>
                                <td>{{totalCost}}</td>
                                <td>{{totalEmission}}</td>
                            </tr>
                        </table>
                    </div>

                    <div style="padding: 2%; margin: 2%;" class="thumbnail col-sm-2 col-md-4 panel panel-default">
                        <h4><strong>Voltage:</strong> {{voltage}}</h4>
                        <h4><strong>Power Factor:</strong> 1</h4>
                    </div>
                </div>
            </div>
        </div>

        <div id="kwhView" role="tabpanel" class="tab-pane">
            <div class="row">
                <h5>kWh Statistics</h5>
            </div>
        </div>

        <div id="currentView" role="tabpanel" class="tab-pane">
            <div class="row">
                <highchart style="margin-right: 1%;" class="panel panel-default col-sm-4 col-md-6" id="currentChart" config="chartConfig"></highchart>
                <div class="col-sm-2 col-md-2 well well-sm pull-right" >
                    <h5>Selected Date:</h5>
                    <datepicker date-format="dd MMMM yyyy">
                        <input id="Text1" name="date" class="col-sm-11 col-md-11" ng-model="date.value" type="text"/>
                    </datepicker>
                </div>
            </div>
        </div>

        <div id="realtimeView" role="tabpanel" class="tab-pane">
            <div class="row">
                <h5>Realtime Statistics</h5>
            </div>
        </div>

        <div id="settingsView" class="tab-pane" role="tabpanel">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail" >
                        <button style="margin-right: 1%;" ng-click="toggleDevice()" type="button" class="btn btn-primary">Toggle</button>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail" >
                        <button style="margin-right: 1%;" ng-click="deactivateDevice()" type="button" class="btn btn-primary">Deactivate</button>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="thumbnail" >
                        <button style="margin-right: 1%;" ng-click="activateDevice()" type="button" class="btn btn-primary">Activate</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" >
                        <form novalidate class="simple-form" name="addForm">
                            <p>Name:
                                <input name="name" ng-model="device.name"  required>
                            <div ng-show="addForm.$submitted || addForm.name.$touched">
                                <div style="color:red;" ng-show="addForm.name.$error.required">Name is required.</div>
                            </div>
                            </p>
                            <p>Appliance:
                                <input name="appliancce" ng-model="device.appliance"  required>
                            <div ng-show="addForm.$submitted || addForm.appliancce.$touched">
                                <div style="color:red;" ng-show="addForm.appliancce.$error.required">Appliance is required.</div>
                            </div>
                            </p>
                            <p>ID:
                                <input name="id" ng-model="device.id" required>
                            <div ng-show="addForm.$submitted || addForm.id.$touched">
                                <div style="color:red;" ng-show="addForm.id.$error.required">ID is required.</div>
                            </div>
                            </p>
                            <p>Threshold:
                                <input name="threshold" ng-model="device.threshold" required>
                            <div ng-show="addForm.$submitted || addForm.threshold.$touched">
                                <div style="color:red;" ng-show="addForm.threshold.$error.required">Threshold is required.</div>
                            </div>
                            </p>
                            <input type="submit" ng-click="addDevice(device)" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
